header {}

nav {}

nav .tabs {
    display: flex;
    justify-content: space-around;
}

section {
    width: 100%;
}

section>#promotion {
    width: 100%;
}

section>#menu {
    width: 100%;
}

section>#content {
    margin: 10px auto;
}

section>#content>#contentWarp, section>#content>#sns {
    padding: 10px 40px;
}

.carousel {
    max-height: 500px;
}

#menu {
    background-color: peachpuff;
    text-align: center;
    height: 400px;
}

.page-footer {
    font-size: small;
}

.card .card-image .card-title{
    font-weight: bold;
    color: black;
}
.card .card-image img {
    width: inherit;
    margin: auto;
    padding: 20px 0;
}