header {}

nav{

}

nav .tabs {
    display: flex;
    justify-content: space-around;
}

section {
    width: 100%;
}

section>#promotion {
    width: 100%;
}

section>#menu {
    width: 100%;
}

section>#content {
    max-width: 1024px;
    margin: 10px auto;
}

section>#content>#contentWarp, section>#content>#sns {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>#content>#contentWarp>div {
    margin: 10px;
    width: 30%;
    height: 400px;
    border: 1px solid lightgray;
    ;
}

.carousel {
    max-height: 500px;
}